@model mvc_rpg.Models.Player

@{
    ViewData["Title"] = "Create";
}

<style>
    .createContainer {
        width: 100%;

        align-content: center;
        align-items: center;
        text-align: center;
    }


    form {
        display: inline-block;
        align-content: center;
        align-items: center;
        text-align: center;
    }
</style>

<h1 style="text-align:center"><b style="color:#215f9a">CREATE A PLAYER</b></h1>
<h5 style="text-align:center">Send a unit to battle</h5>
<hr>
<div class="createContainer">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        &nbsp;
        <div class="form-group">
            <div class="control-label">Profile Picture (max. 512 x 512 px)</div>
            <input asp-for="ProfilePictureRaw" />
            <span asp-validation-for="ProfilePictureRaw" class="text-danger"></span>
        </div>
        &nbsp;
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
