@model mvc_rpg.Entities.Player

@{
    ViewData["Title"] = "Create";
}

<style>
    .createContainer {
        width: 100%;

        align-content: center;
        align-items: center;
        text-align: center;
    }


    form {
        display: inline-block;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .parent {
        position: relative;
        top: 0;
        left: 0;
    }

    .image1 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px red solid;
    }

    .image2 {
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px green solid;
    }

</style>

<h1 class="mb2" style="text-align:center"><b style="color:#0c69f0">Create a new player.</b></h1>
<hr>


<!-- Feature list -->
<div class="container pt1 mt2 text--gray align--center">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="grid-column mb3 reveal-on-scroll is-revealing">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="grid-column mb3 reveal-on-scroll is-revealing">
            <div class="control-label">Profile Picture (max. 512 x 512 px)</div>
            <input asp-for="ProfilePictureRaw" />
            <span asp-validation-for="ProfilePictureRaw" class="text-danger"></span>
        </div>
        <div class="grid-column mb3 reveal-on-scroll is-revealing">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}