@model mvc_rpg.Models.Player

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label"></label>
                <input asp-for="Health" class="form-control" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinType" class="control-label"></label>
                <select asp-for="SkinType" asp-items="Html.GetEnumSelectList<skinType>()" class="form-control"></select>
                <span asp-validation-for="SkinType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairType" class="control-label"></label>
                <select asp-for="HairType" asp-items="Html.GetEnumSelectList<hairType>()" class=" form-control"></select>
                <span asp-validation-for="HairType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EyeType" class="control-label"></label>
                <select asp-for="EyeType" asp-items="Html.GetEnumSelectList<eyeType>()" class=" form-control"></select>
                <span asp-validation-for="EyeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureRaw" class="control-label"></label>
                <input asp-for="ProfilePictureRaw" />
                <span asp-validation-for="ProfilePictureRaw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Index" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
